:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.header {
  background-image: url(./assets/img/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.header .jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mynavbar .navbar-nav {
  gap: .5rem;
}

#mynavbar .nav-link {
  border: 1px solid #fff;
  border-radius: 4px;
}
